{##
 # Copyright (c) 2018. Anime Twin Cities, Inc.
 #
 # This project, including all of the files and their contents, is licensed under the terms of MIT License
 #
 # See the LICENSE file in the root of this project for details.
#}
{% extends 'detour.html.twig' %}

{% block body %}
<form action="javascript:void(0);" id="form_editStaff">
    <input type="hidden" id="staff_id" name="staff_id" value="{{ staff.id|default('') }}">

    <div class="container bg-white">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="page-header">
                    {{ staff.name | default("Add New Staff") }}
                </h2>
            </div>
        </div>

        <div class="row">
            <div class="col-8">
                <div class="row">
                    <div class="col-4">
                        <div class="md-form">
                            <input type="text"
                                   id="firstName"
                                   name="firstName"
                                   class="form-control validate"
                                   value="{{ staff.firstName|default('') }}"
                                   required>
                            <label for="firstName">
                                First Name
                            </label>
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="md-form">
                            <input type="text"
                                   id="nickName"
                                   name="nickName"
                                   class="form-control validate"
                                   value="{{ staff.nickName|default('') }}"
                                   required>
                            <label for="nickName">
                                Nickname
                            </label>
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="md-form">
                            <input type="text"
                                   id="lastName"
                                   name="lastName"
                                   class="form-control validate"
                                   value="{{ staff.lastName|default('') }}"
                                   required>
                            <label for="lastName">
                                Last Name
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="md-form">
                            <input type="text"
                                   id="officialEmail"
                                   name="officialEmail"
                                   class="form-control validate"
                                   value="{{ staff.officialEmail|default('') }}"
                                   required>
                            <label for="officialEmail">
                                Official Email
                            </label>
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="md-form">
                            <input type="text"
                                   id="personalEmail"
                                   name="personalEmail"
                                   class="form-control validate"
                                   value="{{ staff.personalEmail|default('') }}"
                                   required>
                            <label for="personalEmail">
                                Personal Email
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="md-form">
                            <input type="text"
                                   id="phoneNumber"
                                   name="phoneNumber"
                                   class="form-control validate"
                                   value="{{ staff.phoneNumber|default('') }}"
                                   required>
                            <label for="phone">
                                Phone
                            </label>
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="md-form">
                            <input type="text"
                                   id="birthDate"
                                   name="birthDate"
                                   class="form-control validate datepicker"
                                   value="{{ staff is not null and staff.dateOfBirth ? staff.dateOfBirth|date('m/d') : '' }}"
                                   placeholder="03/26"
                                   required>
                            <label for="birthDate">
                                Birthdate (mm/dd)
                            </label>
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="md-form">
                            <input type="text"
                                   id="birthYear"
                                   name="birthYear"
                                   class="form-control validate"
                                   value="{{ staff is not null and staff.dateOfBirth ? staff.dateOfBirth|date('Y') : '' }}"
                                   placeholder="2004"
                                   required>
                            <label for="birthYear">
                                Birth Year (YYYY)
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="md-form">
                            <label for="shirtType" style="top:-2rem">Shirt Type</label>
                            <select name="shirtType" id="shirtType">
                                <option value="" default="">Select T-Shirt...</option>
                                <option value="MensTee">Men's T-Shirt</option>
                                <option value="WomensTee">Women's T-Shirt</option>
                            </select>
                            <label for="shirtType"></label>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="md-form">
                            <label for="shirtSize" style="top:-2rem">Shirt Size</label>
                            <select name="shirtSize" id="shirtSize">
                                <option value="" default="">Select Size...</option>
                                <option value="S">S</option>
                                <option value="M">M</option>
                                <option value="L">L</option>
                                <option value="XL">XL</option>
                                <option value="XLT">XLT (Mens Only)</option>
                                <option value="2XL">2XL</option>
                                <option value="2XLT">2XLT (Mens Only)</option>
                                <option value="3XL">3XL (Mens Only)</option>
                                <option value="3XLT">3XLT (Mens Only)</option>
                                <option value="4XL">4XL (Mens Only)</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row" id="alert_div" style="display: none">
                    <div class="col-sm-12">
                        <h4 id="alert_heading">Info</h4>
                        <div class="alert" id="alert_subdiv"role="alert">
                            <p id="alert_msg">Unknown Error.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-8">
                        <div class="form-group">
                            <label for="comments">Comments</label>
                            <textarea class="form-control rounded-0" name="comments" id="comments" rows="6"></textarea>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="row">
                            <br>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" name="isActiveStaff" class="custom-control-input"
                                           id="isActiveStaff" {{ staff.checkedActive }}>
                                    <label class="custom-control-label" for="isActiveStaff">Active Staff</label>
                                </div>
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" name="hasCompletedIntake" class="custom-control-input"
                                           id="hasCompletedIntake" {{ staff.checkedIntake }}>
                                    <label class="custom-control-label" for="hasCompletedIntake">Has Completed Intake</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <br>
                            <br>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <button id="addAnother" type="button" class="btn btn-light">
                                    Cancel
                                </button>
                            </div>
                            <div class="col-sm-6">
                                <button id="save_form" type="button" class="btn btn-warning">
                                    Save
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <table class="table table-striped table-sm">
                    <thead>
                    <tr>
                        <th class="unique-color text-white" colspan="3">Departments:</th>
                        <th class="unique-color text-white text-right">
                            <button id="add_department" type="button" class="btn btn-sm btn-info"
                                style="padding: 0 1rem; margin: 0;">
                                Add
                            </button>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for staffDepartment in departments %}
                        <tr>
                            <td>
                                <a href="{{ path('org_department_view', {'id': staffDepartment.department.id}) }}"
                                   style="color: black">
                                    {{ staffDepartment.department.name }}
                                </a>
                            </td>
                            <td>
                                {% if staffDepartment.isHead %}
                                    <i class="fa fa-crown" aria-hidden="true"></i> Head
                                    {% if staffDepartment.temporary and staffDepartment.isHead %} (Acting) {% endif %}
                                {% elseif staffDepartment.isSubHead %}
                                    <i class="fa fa-award" aria-hidden="true"></i> Sub-Head
                                {% endif %}
                            </td>
                            <td>
                                {{ staffDepartment.position }}
                            </td>
                            <td class="text-right">
                                <button id="add_department" type="button" class="btn btn-sm btn-danger"
                                        style="padding: 0 1rem; margin: 0;">
                                    Remove
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <br>

                <table class="table table-striped table-sm">
                    <thead>
                    <tr>
                        <th class="unique-color text-white">Registered:</th>
                        <td>
                            {% if staff is not null and staff.activeRegistration %}
                                <i class="fa fa-check-circle" aria-hidden="true"></i> Yes
                            {% else %}
                                <i class="fa fa-minus-circle" aria-hidden="true"></i> No
                            {% endif %}
                        </td>
                    </tr>
                    {#
                    <tr>
                        <th class="unique-color text-white">Active:</th>
                        <td>
                            {% if staff is not null and staff.active %}
                                <i class="fa fa-check-circle" aria-hidden="true"></i> Yes
                            {% else %}
                                <i class="fa fa-minus-circle" aria-hidden="true"></i> No
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th class="unique-color text-white">Intake Form Completed:</th>
                        <td>
                            {% if staff is not null and staff.completedIntake %}
                                <i class="fa fa-check-circle" aria-hidden="true"></i> Yes
                            {% else %}
                                <i class="fa fa-minus-circle" aria-hidden="true"></i> No
                            {% endif %}
                        </td>
                    </tr>
                    #}
                    </thead>
                </table>
            </div>
        </div>

        {% if staff is not null %}
        <div class="row">
            <div class="col-sm-12">
                <h3>History</h3>
                <table class="table table-striped table-sm history-table">
                    <thead class="unique-color text-white">
                    <tr>
                        <th>User</th>
                        <th>Date</th>
                        <th>Notes</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for history in staffHistory %}
                        <tr class="info">
                            <td>{{ history.createdBy.firstName }} {{ history.createdBy.lastName }}</td>
                            <td>{{ history.createdDate|date('M d, Y g:i a') }}</td>
                            <td>{{ history.changeText|raw }}</td>
                        </tr>
                    {% endfor %}
                    {% if staffHistory is empty %}
                        <tr class="warning">
                            <td colspan="3">
                                There is no history available for this user yet.
                            </td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
        {% endif %}
    </div>
</form>
    <style>
    .fa-check-circle {
        color: forestgreen;
    }

    .fa-minus-circle {
        color: red;
    }
</style>
<script>
    $('#save_form').click(function ()
    {
        console.log('bi');
        var is_update = {{ (staff is not null) ? 'true' : 'false' }};

        $.ajax({
            type: 'POST',
            url: '{{ path('org_staff_edit') }}',
            dataType: 'json',
            data: $('#form_editStaff').serialize(),
            error: function (x, textStatus)
            {
                var error;
                if (textStatus === 'parsererror') {
                    error = 'Invalid JSON returned. Please retry.';
                } else {
                    if (textStatus === 'timeout') {
                        error = 'Timeout Error: Could not communicate with server. Check connection';
                    } else {
                        error = textStatus + ': Please try again.';
                    }
                }
                var alert_subdiv = $('#alert_subdiv');
                $('#alert_div').show();
                $('#alert_msg').text(error);
                $('#alert_heading').text('Info');
                alert_subdiv.addClass('bs-callout-danger');
                alert_subdiv.removeClass('bs-callout-info');
            }
        })
        .done(function (data)
        {
            var alert_subdiv = $('#alert_subdiv');
            $('#alert_div').show();
            $('#alert_msg').html("<b>" + data['message'] + "</b>");
            if (data['success']) {
                if ($('#staff_id').val() === '' && data['staff_id'] !== '') {
                    window.location('{{ path('org_staff_edit_new') }}?id=' + data['staff_id']);
                }

                $('#alert_heading').text('Info');
                alert_subdiv.removeClass('alert-danger');
                alert_subdiv.addClass('alert-primary');
            } else {
                $('#alert_heading').text('Error');
                alert_subdiv.addClass('alert-danger');
                alert_subdiv.removeClass('alert-primary');
            }
        });
    });
</script>
{% endblock %}
